.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    width: 80%;
    margin-top: 1rem;
}

.title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.img {
    width: 40%;

    img {
        max-height: 400px;
        max-width: 90%;
        border-radius: 20px;
    }
}

.desc {
    width: 40%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
}

.author {
    font-weight: bold;
}

.info {
    margin-top: 1rem 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    width: 30px;
    height: 30px;
    margin: 0.2rem;
    cursor: pointer;
}